# Set up the prompt

# setopt histignorealldups sharehistory

# Use emacs keybindings even if our EDITOR is set to vi
bindkey -v

# Keep 1000 lines of history within the shell and save it to ~/.zsh_history:
HISTSIZE=1000000
SAVEHIST=1000000
HISTFILE=~/.zsh_history

# # Use modern completion system
# autoload -Uz compinit
# compinit
# 
# zstyle ':completion:*' auto-description 'specify: %d'
# zstyle ':completion:*' completer _expand _complete _correct _approximate
# zstyle ':completion:*' format 'Completing %d'
# zstyle ':completion:*' group-name ''
# zstyle ':completion:*' menu select=2
# eval "$(dircolors -b)"
# zstyle ':completion:*:default' list-colors ${(s.:.)LS_COLORS}
# zstyle ':completion:*' list-colors ''
# zstyle ':completion:*' list-prompt %SAt %p: Hit TAB for more, or the character to insert%s
# zstyle ':completion:*' matcher-list '' 'm:{a-z}={A-Z}' 'm:{a-zA-Z}={A-Za-z}' 'r:|[._-]=* r:|=* l:|=*'
# zstyle ':completion:*' menu select=long
# zstyle ':completion:*' select-prompt %SScrolling active: current selection at %p%s
# zstyle ':completion:*' use-compctl false
# zstyle ':completion:*' verbose true
# 
# zstyle ':completion:*:*:kill:*:processes' list-colors '=(#b) #([0-9]#)*=0=01;31'
# zstyle ':completion:*:kill:*' command 'ps -u $USER -o pid,%cpu,tty,cputime,cmd'

. ~/.zsh/execution_timestamp.rc

local datetime='%D{m-d H:M:S}'
local userlocation='%n@%m:%~'
local currentstatus='%($..${RED}(%?%)${NORM} )'

autoload -U colors && colors

zstyle ':completion:*' menu select

function parse_git_branch {
  ref=$(git symbolic-ref HEAD 2> /dev/null) || return
  echo "("${ref#refs/heads/}") "
}

hostcolor=$(hostname | od | tr ' ' '\n' | awk '{total = total + $1}END{print (1 + (total % 5))}')
usercolor=$(whoami | od | tr ' ' '\n' | awk '{total = total + $1}END{print (1 + (total % 5))}')
function daycolor {
  echo $(date +'%d' | awk '{total = total + $1}END{print (1 + (total % 5))}')
}

setopt PROMPT_SUBST
PROMPT='%F{$(daycolor)}%D{%m-%d}%f %D{%H:%M:%S} %F{$usercolor}%n%f@%F{$hostcolor}%m%f:%. $(parse_git_branch)%(?.%F{green}$.%F{red}(%?%) $) %f'

eval "$(dircolors -b ~/.zsh/dircolors)"

. ~/.zsh/sufix_aliases.rc
. ~/.zsh/aliases.rc

. ~/.zsh/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
