alias bashrc='vim ~/.bashrc'
alias vimrc='vim ~/.vimrc'
alias v='vim -O'
alias vim='vim -O'
alias i='sudo apt-get install'
alias c='xclip -selection c'
alias p='xclip -selection clipboard -o'
alias r='sudo su'
alias s='smplayer'
alias ll='ls -lh'
alias la='ls -lha'
alias ls='ls --color=auto'
alias ga='gitk --all'
alias gitka='gitk --all'
alias g='grep'
alias history='history -iD'
alias aria='aria2c -x 4 -s 4'
